<section class="profile-section" [ngClass]="{'dark-mode': darkMode === 1}" id="about-me"> 
  <div class="profile">
    <div class="photo">
      <img src="me.webp" alt="profile.png" />
    </div>

    <div class="information">
      <div class="name">
        <h2>Juan David Romero Sánchez</h2>
      </div>
      <div class="summary">
        <p>{{ data.summary }}</p>
      </div>

      <div class="statistics">
        <div class="stat-item">
          <span class="stat-icon">⏳</span>
          <span>{{ data.time }}</span>
        </div>
        <div class="stat-item">
          <span class="stat-icon">💼</span>
          <span>{{ data.projects }}</span>
        </div>
        <div class="stat-item">
          <span class="stat-icon">🏡</span>
          <span>{{ data.home }}</span>
        </div>
        <div class="stat-item">
          <span class="stat-icon">📞</span>
          <span>{{ data.contact }}</span>
        </div>
      </div>
    </div>
  </div>
</section>
