.tecnologies {
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
}

.tecnologies .title h2 {
  font-weight: bold;
  font-size: 2.2em;
  margin-bottom: 25px;
  color: #444;
}

.tecnologies-darkmode .title h2 {
  color: #ddd;
}

.carousel-container {
  position: relative;
  width: 100%;
  max-width: 1200px;
  overflow: hidden;
}

.carousel {
  display: flex;
  transition: transform 0.5s ease-in-out;
  flex-wrap: nowrap;
}

.carousel-item {
  flex: 1 0 auto;
  padding: 25px;
  box-sizing: border-box;
  max-width: calc(100% / 3);
  text-align: center;
}

.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  border: none;
  padding: 12px;
  cursor: pointer;
  z-index: 10;
  border-radius: 50%;
  transition: background-color 0.3s;
}

.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.tecnologies-darkmode .carousel-item {
  background-color: #333;
  color: #fff;
}

.tecnologies-darkmode .prev, .tecnologies-darkmode .next {
  background-color: rgba(255, 255, 255, 0.5);
  color: black;
}

.tecnologies-darkmode .prev:hover, .tecnologies-darkmode .next:hover {
  background-color: rgba(255, 255, 255, 0.7);
}

/* Media Queries para hacer el carrusel responsivo */
@media (max-width: 768px) {
  .carousel-item {
    max-width: calc(100% / 2);
  }
}

@media (max-width: 480px) {
  .carousel-item {
    max-width: 100%;
  }
}
