<section class="profile-section" [ngClass]="{'profile-section-dark-mode':!returnMode()}" id="about-me"> 
  <div class="profile">
    <div class="photo">
      <img
        src="https://imgur.com/EQvDBSK.png"
        
        alt="profile.png"
      />
    </div>

    <div class="information">
      <div class="name">
        <h2>Juan David Romero Sánchez</h2>
      </div>
      <div class="sumary">
        <p>
          {{ data.summary }}
        </p>
      </div>

      <div class="statistics">
        <ul>
          <li>{{ data.time }}</li>
          <li>{{ data.projects }}</li>
          <li>{{ data.home }}</li>
          <li>{{ data.contact }}</li>
        </ul>
      </div>
    </div>
  </div>
</section>
