<section class="experience" id="experience" >
    <div class="title"><h2>Experience</h2></div>
    <div class="timeline">
        <div class="line"></div>
        <div class="timeline-container">
            <div class="event left">
                <div class="event-content">
                    <h2>Título del Rol</h2>
                    <p class="dates">Fecha de Inicio - Fecha de Fin</p>
                    <p class="location">Ubicación del trabajo - Nombre de la empresa</p>
                    <p class="description">Descripción del trabajo que desarrollé.</p>
                </div>
            </div>
            <div class="event right">
                <div class="event-content">
                    <h2>Título del Rol</h2>
                    <p class="dates">Fecha de Inicio - Fecha de Fin</p>
                    <p class="location">Ubicación del trabajo - Nombre de la empresa</p>
                    <p class="description">Descripción del trabajo que desarrollé.</p>
                </div>
            </div>
            <div class="event left">
                <div class="event-content">
                    <h2>Título del Rol</h2>
                    <p class="dates">Fecha de Inicio - Fecha de Fin</p>
                    <p class="location">Ubicación del trabajo - Nombre de la empresa</p>
                    <p class="description">Descripción del trabajo que desarrollé.</p>
                </div>
            </div>
        </div>
    </div>
</section>
