<section class="experience" id="experience">
  <div class="title">
    <h2>{{ experience.title }}</h2>
  </div>
  <div class="timeline">
    <div class="line"></div>
    <div class="timeline-container">
      @for (item of experience.jobs; track $index) {
      <div class="event" [ngClass]="{ 'left': $index % 2 === 0, 'right': $index % 2 !== 0 }">
        <div class="event-content">
          <h2>{{ item.position }}</h2>
          <p class="dates">{{ item.duration }}</p>
          <p class="location">{{ item.company }}</p>
          <p class="description">{{ item.description }}</p>
        </div>
      </div>
      }
    </div>
  </div>
</section>
