<section class="projects" id="projects">
    <div class="title">Projects</div>
  <div class="projects-card">
    <app-project
      title="Título del Proyecto 1"
      description="Descripción breve del proyecto 1."
      codeLink="#"

    >
    </app-project>
    <app-project
      title="Título del Proyecto 2"
      description="Descripción breve del proyecto 2."
      codeLink="#"
      
    >
    </app-project>
    <app-project
      title="Título del Proyecto 3"
      description="Descripción breve del proyecto 3."
      codeLink="#"
    >
    </app-project>
  </div>
</section>
