.projects-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 30px auto;
    max-width: 1300px;
    padding: 25px;
    gap: 25px; /* Espaciado más amplio entre las tarjetas */
}

.title {
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 2em;
    margin-bottom: 30px;
    color: #333;
}

.projects-darkmode .title h2 {
    color: #ffffff;
}
