<section class="tecnologies" id="tecnologies" >
  <div class="title">
      <h2>Tecnologías</h2>
  </div>

  <div class="cards">
      <app-tecnology 
          technologyName="HTML5"
          technologyLevel="Experto"
          technologyLogo="path/to/html5-logo.png">
      </app-tecnology>
      <app-tecnology 
          technologyName="CSS3"
          technologyLevel="Avanzado"
          technologyLogo="path/to/css3-logo.png">
      </app-tecnology>
      <app-tecnology 
          technologyName="JavaScript"
          technologyLevel="Intermedio"
          technologyLogo="path/to/javascript-logo.png">
      </app-tecnology>
      <app-tecnology 
          technologyName="React"
          technologyLevel="Intermedio"
          technologyLogo="path/to/react-logo.png">
      </app-tecnology>
      <app-tecnology 
          technologyName="Node.js"
          technologyLevel="Básico"
          technologyLogo="path/to/nodejs-logo.png">
      </app-tecnology>
      <app-tecnology 
          technologyName="Python"
          technologyLevel="Avanzado"
          technologyLogo="path/to/python-logo.png">
      </app-tecnology>
      <app-tecnology 
          technologyName="Django"
          technologyLevel="Intermedio"
          technologyLogo="path/to/django-logo.png">
      </app-tecnology>
      <app-tecnology 
          technologyName="SQL"
          technologyLevel="Avanzado"
          technologyLogo="path/to/sql-logo.png">
      </app-tecnology>
      <app-tecnology 
          technologyName="Git"
          technologyLevel="Avanzado"
          technologyLogo="path/to/git-logo.png">
      </app-tecnology>
  </div>
</section>
