.card {
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    padding: 30px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    width: 250px; /* Añadimos un ancho fijo */
    height: 200px; /* Añadimos una altura fija */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 16px 32px rgba(0, 0, 0, 0.2);
}

.card img {
    max-width: 100px;
    height: auto;
    margin-bottom: 15px;
    transition: transform 0.3s;
}

.card:hover img {
    transform: scale(1.1);
}

.card h2 {
    margin: 0 0 15px;
    font-size: 1.8em;
    color: #333;
}

.card p {
    margin: 0;
    font-size: 1.2em;
    color: #666;
}
