.project-card {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 15px;
    padding: 20px;
    width: 300px; /* Ancho fijo para todas las tarjetas */
    min-height: 300px; /* Altura mínima para asegurar que todas tengan un tamaño uniforme */
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Distribuye el espacio entre los elementos */
    align-items: center; /* Centra el contenido horizontalmente */
}

.project-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.project-title {
    margin: 0 0 10px;
    color: #ff0000;
    font-weight: 600;
    font-size: 1.5em;
}

.project-description {
    margin: 0;
    color: #333;
    flex: 1; /* Ocupa el espacio disponible */
    display: flex;
    align-items: center; /* Centra el contenido verticalmente */
    justify-content: center; /* Centra el contenido horizontalmente */
    text-align: center; /* Alinea el texto en el centro */
}

.view-code-btn {
    display: inline-block;
    padding: 10px 20px;
    background: #FF0000;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    font-weight: bold;
    transition: background 0.3s;
    margin-top: auto; /* Asegura que el botón se empuje al fondo */
}

.view-code-btn:hover {
    background: #ff000095;
}
